$fondo: rgb(206, 206, 206);
$fondoPagina:rgb(161, 161, 161);
$azul:rgba(3, 91, 224, 0.548);
$error: rgba(151, 21, 21, 0.753);
$borde:rgb(61, 125, 155);
$margenPequenio: 20px;
$margenMediano: 40px;
$unaColumna: 1fr;
$dosColumnas: 1fr 1fr;
$tresColumnas: 1fr 1fr 1fr;